# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VS Code workspace settings
.vscode

# HSQLDB database files
/data/eventsdb.*

# Ignore logs
logs